name: Test ll-p0-deno-llvm

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.5.1]
        # deno-version: [1.3.2, 1.4.6, 1.5.1]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "11.0"
          directory: ${{ runner.temp }}/llvm
      - name: Check LLVM
        run: |
          ls -Fal /usr/bin
          ls -Fal ${{ runner.temp }}/llvm/bin
          ${{ runner.temp }}/llvm/bin/llvm-as-11 --version
          llvm-as-9 --version
          clang --version
          llvm-link --version
          lli --version
          clang-11 --version
          llvm-link-11 --version
          lli-11 --version
      - name: Build ll-p0-deno-llvm
        run: .bin/build.sh
      - name: Test ll-p0-deno-llvm
        run: .bin/test.sh
